@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  width: calc(100vw - (100vw - 100%));
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: TTNormsProLight;
  src: url("/public/fonts/TTNormsProLight.ttf");
}

@font-face {
  font-family: TTNormsProBold;
  src: url("/public/fonts/TTNormsProBold.ttf");
}

@font-face {
  font-family: TTNormsProExtraBold;
  src: url("/public/fonts/TTNormsProExtraBold.ttf");
}
